.hidden {
  display: none;
}
.fa-minus-square-o {
  color: green;
}
.fa {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
p {
  margin-left: 20px;
  margin-right: 20px;
}
.bottom-border-div {
  border-bottom: solid;
  height: 0px;
  width: 99%;
  margin: auto;
}
.question {
  margin-top: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  p {
    font-size: 125%;
  }
}
